body, html, * {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    background: url("../res/nenecpp.jpg");
    background-size: 256px 144px;
    color: white;
    font-family: monospace;
    text-shadow: 2px 2px black;
    font-size: 25px;
    overflow-y: hidden;
}

#spinner {
    height: 32px;
    width: 32px;
    position: absolute;
    background-color: yellow;
}

.textbox {
    top: 5%;
    left: 9%;
    position: absolute;
}

.thats {
    vertical-align: top;
    display: inline-block;
}